
<div class="portfolio-item mx-auto" id="centraldiv">
  <div id="title">Gestion de mi Cuenta</div>
  <div *ngFor="let element of respuesta|keyvalue" class="form-floating mb-3">
    <p class="text-decoration-underline" font-size="16">{{element.key}}</p>
    <input class="form-control-lg mx-auto element-input" id="{{element.key}}" placeholder="Espacio requerido"
           value="{{element.value}}">

  </div>
  <ng-template [ngIf]="opC== '0'">
    <div id="Buttons">
      <button (click)="Edit_Button()" id="edit">Editar mis datos</button>
      <button (click)="Delete_Button()" id="delete">Eliminar mi cuenta</button>


    </div>
  </ng-template>
  <div id="Inputs">
    <ng-template [ngIf]="opC== '1'">
      <div id="Buttons">
        <button (click)="Edit_Button()" id="edit">Editar mis datos</button>
        <button (click)="Delete_Button()" id="delete">Eliminar mi cuenta</button>


      </div>

      <a class="nav-link text-dark">Mi Informacion</a>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="form-group two-fields">
              <div class="input-group">
                <input class="form-control" id="Nombre" placeholder="Nombre" />
                <input class="form-control" id="Apellidos" placeholder="Apellidos" />
              </div>
              <div class="input-group">
                <input class="form-control" id="Cedula" placeholder="Cedula">
                <input class="form-control" id="Distrito" placeholder="Distrito" />
              </div>
              <div class="input-group">
                <input class="form-control" id="Provincia" placeholder="Provincia" />
                <input class="form-control" id="Canton" placeholder="Canton" />
              </div>
              <div class="input-group">
                <input class="form-control" id="Usuario" placeholder="Usuario" />
                <input class="form-control" id="Contraseña" placeholder="Contraseña" />
              </div>
              <div class="input-group">
                <input class="form-control" id="FechaNacimiento" placeholder="Fecha de nacimiento" />
                <input class="form-control" id="Correo" placeholder="Correo" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="Buttons">
        <button (click)="Get_Client()" class="form-floating" id="search">Buscar</button>
        <button (click)="Edit_Button2()" class="form-floating" id="save">Guardar</button>


      </div>

    </ng-template>
    <ng-template [ngIf]="opC== '2'">
      <div id="Buttons">
        <button (click)="Edit_Button()" id="edit">Editar mis datos</button>
        <button (click)="Delete_Button()" id="delete">Eliminar mi cuenta</button>


      </div>

      <a class="nav-link text-dark">Mi Informacion</a>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="form-group two-fields">
              <div class="input-group">

                <input class="form-control" id="CedulaD" placeholder="Ingrese su identificacion" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="Buttons">

        <button (click)="Delete_Button2()" class="form-floating" id="delete">Eliminar</button>


      </div>

    </ng-template>
  </div>
</div>
