<div class="portfolio-item mx-auto" id="centraldiv">
  <div id="title">Gestion de Administrador del Comercio Afiliado</div>

  <div *ngFor="let element of respuesta|keyvalue" class="form-floating mb-3">
    <p class="text-decoration-underline" font-size="16">{{element.key}}</p>
    <input class="form-control-lg mx-auto element-input" id="{{element.key}}" value="{{element.value}}">
  </div>

  <ng-template [ngIf]="SolR== 'I'">
    <div id="Buttons">
      <button (click)="Add_Button()" id="IAgregar">Registrar un Administrador</button>
      <button (click)="Edit_Button()" id="IEditar"> Editar un Administrador </button>
    </div>

  </ng-template>
  <div id="Inputs">
    <ng-template [ngIf]="SolR== 'RG'">
      <div id="Buttons">
        <button (click)="Edit_Button()" id="RGEditar"> Editar un Administrador </button>
      </div>
      <a class="nav-link text-dark">Informacion del Administrador del Comercio</a>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="form-group two-fields">
              <div class="input-group">
                <input class="form-control"  id="RGCedulaJ" placeholder="Cedula Juridica del Afiliado">
                <input class="form-control"  id="RGUsuario" placeholder="Usuario" />
                <input class="form-control"  id="RGNombreCompleto" placeholder="Nombre Completo" requiredtype="text" value="">
              </div>
              <div class="input-group">
                <input class="form-control"  id="RGProvincia" placeholder="Provincia" />
                <input class="form-control"  id="RGDistrito" placeholder="Distrito" />
                <input class="form-control"  id="RGCanton" placeholder="Canton" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="Buttons" >
        <button (click)="Save_G_Button()" class="form-floating" id="RGsave">Guardar Administrador</button>
      </div>

      <a class="nav-link text-dark">Telefono del Administrador del Comercio</a>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="form-group two-fields">
                <div class="input-group">
                  <div style="display: flex; width: 100%; position: relative">
                    <input  class="form-control"  id="RGTelefono" placeholder="Telefono Nuevo"  style="width: 74%" >
                    <button (click)="Save_TG_Button()" class="form-floating" id="TRGsave" style="width: 24%"> Agregar Telefono</button>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template [ngIf]="SolR== 'EG'">
      <div id="EButtons">
        <button (click)="Add_Button()" id="EGAgregar">Registrar un Administrador</button>
      </div>

      <a class="nav-link text-dark">Ingrese el Usuario del Administrador</a>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="form-group two-fields">
              <div class="input-group">
                <div style="display: flex; width: 100%; position: relative">
                  <input  class="form-control" id="EGUsuario" placeholder="Usuario a Consultar" style="width: 74%" >
                  <button (click)="get_dataEditar()" class="form-floating" id="TREGsave" style="width: 24%"> Buscar datos</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a class="nav-link text-dark">Informacion del Administrador del Comercio</a>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="form-group two-fields">
              <div class="input-group">
                <input class="form-control" id="EGCedulaJ" placeholder="Cedula Juridica" >
                <input class="form-control"  id="EGNombreCompleto" placeholder="Nombre Completo" >
                <input class="form-control"  id="EGContrasena" placeholder="Contraseña" readonly= "readonly"/>
              </div>
              <div class="input-group">
                <input class="form-control"  id="EGProvincia" placeholder="Provincia" />
                <input class="form-control"  id="EGCanton" placeholder="Canton" />
                <input class="form-control"  id="EGDistrito" placeholder="Distrito" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="Buttons">
        <button (click)="Edit_G_Button()" class="form-floating" id="EGsave">Actualizar Datos del Administrador</button>
      </div>

      <a class="nav-link text-dark">Telefonos del Administrador del Comercio</a>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="form-group two-fields">
              <div class="input-group">
                <div *ngFor="let telefono of this.TelefonosG" style="display: flex; width: 100%; position: relative">
                <input  class="form-control"  id="EGTelefono" placeholder="Telefono" value="{{telefono.Telefono}}" [innerText]="telefono.Telefono " style="width: 74%" readonly = "readonly">
                <button (click)="Delete_TG_Button(telefono.Usuario, telefono.Telefono)" class="form-floating" id="TEDGsave" style="width: 24%">Eliminar Telefono</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <a class="nav-link text-dark">Ingrese el Telefono que desea agregar</a>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="form-group two-fields">
              <div class="input-group">
                  <div style="display: flex; width: 100%; position: relative">
                    <input  class="form-control"  id="ERGTelefono" placeholder="Telefono Nuevo"  style="width: 74%" >
                    <button (click)="Save_EG_Button()" class="form-floating" id="TERGsave" style="width: 24%"> Agregar Telefono</button>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="Buttons" >
        <a class="nav-link text-dark" font-size= "14" > <b> NOTA: </b> Para eliminar un administrador se deben eliminar todos los telefonos relacionados a este </a>
        <button (click)="Delete_G_Button()" class="form-floating" id="EDGsave">Eliminar Administrador</button>
      </div>

      </ng-template>




  </div>
</div>
