<header xmlns="http://www.w3.org/1999/html">
  <nav
    class=" navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="navbar" style="margin: 0">
      <a [routerLink]="['/']" class="navbar-brand text-center">DetailTEC </a>

    </div>
    <div class="container" style="margin: 0">
      <a [routerLink]="['/']" class="navbar-brand" href="favicon.png"></a>
      <button
        (click)="toggle()"
        [attr.aria-expanded]="isExpanded"
        aria-label="Toggle navigation"
        class="navbar-toggler"
        data-target=".navbar-collapse"
        data-toggle="collapse"
        type="button"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div *ngIf="token==='True'" [ngClass]="{ show: isExpanded }"
           class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
      >
        <ng-template [ngIf]="rol=== 'Trabajador'" class="p-3 justify-content-center">
          <div>
            <ul class="navbar-nav flex-grow">
              <li
                [routerLinkActiveOptions]="{ exact: true }"
                [routerLinkActive]="['link-active']"
                class="nav-item"
              >
                <a [routerLink]="['/']" class="nav-link text-dark">Home</a>
              </li>

              <li [routerLinkActive]="['link-active']" class="nav-item">
                <a [routerLink]="['Admin/Afiliados']" class="nav-link text-dark"
                >Afiliados</a
                >
              </li>
              <li [routerLinkActive]="['link-active']" class="nav-item">
                <a [routerLink]="['Admin/Dealers']" class="nav-link text-dark"
                >Repartidores</a
                >
              </li>

              <li [routerLinkActive]="['link-active']" class="nav-item">
                <a [routerLink]="['Admin/Gerentes']" class="nav-link text-dark"
                >Gerentes</a
                >
              </li>

              <li [routerLinkActive]="['link-active']" class="nav-item">
                <a [routerLink]="['Admin/Clientes']" class="nav-link text-dark"
                >Clientes</a
                >
              </li>
              <li [routerLinkActive]="['link-active']" class="nav-item">
                <a [routerLink]="['Admin/ConsolidadoVentas']" class="nav-link text-dark"
                >Consolidado Ventas</a
                >
              </li>
              <li class="nav-item">
                <button (click)="logout()" class="text-dark">LogOut</button>
              </li>
            </ul>
          </div>
        </ng-template>
        <ng-template [ngIf]="rol=== 'Afiliado'">

          <ul class="navbar-nav flex-grow">
            <li
              [routerLinkActiveOptions]="{ exact: true }"
              [routerLinkActive]="['link-active']"
              class="nav-item"
            >
              <a [routerLink]="['/']" class="nav-link text-dark">Home</a>
            </li>

            <li class="nav-item">
              <button (click)="logout()" class="btn btn-link" type="button">LogOut</button>
            </li>
          </ul>

        </ng-template>
        <ng-template [ngIf]="rol=== 'Cliente'">
          <ul class="navbar-nav flex-grow">
            <li
              [routerLinkActiveOptions]="{ exact: true }"
              [routerLinkActive]="['link-active']"
              class="nav-item"
            >
              <a [routerLink]="['/']" class="nav-link text-dark">Home</a>
            </li>

            <li [routerLinkActive]="['link-active']" class="nav-item">
               <a [routerLink]="['Cliente/Clientes']" class="nav-link text-dark"
               >Perfil</a
               >
            </li>

            <li class="nav-item">
              <button (click)="logout()" class="btn btn-link" type="button">LogOut</button>
            </li>
            <li [routerLinkActive]="['link-active']" class="nav-item">
              <a [routerLink]="['Cliente/Carrito']" class="nav-link text-dark"
              >Carrito</a
              >
            </li>
          </ul>

        </ng-template>
      </div>

    </div>
  </nav>
</header>
