<div class="portfolio-item mx-auto" id="centraldiv">
  <div id="title">Gestion de Comercio Afiliado</div>

  <div *ngFor="let element of respuesta|keyvalue" class="form-floating mb-3">
    <p class="text-decoration-underline" font-size="16">{{element.key}}</p>
    <input class="form-control-lg mx-auto element-input" id="{{element.key}}" value="{{element.value}}">
  </div>

  <ng-template [ngIf]="SolR== 'I'">
    <div id="Buttons">
      <button (click)="Add_Button()" id="IAgregar">Registrar un Afiliado</button>
      <button (click)="Edit_Button()" id="IEditar"> Editar un Afiliado </button>
    </div>

  </ng-template>
  <div id="Inputs">
    <ng-template [ngIf]="SolR== 'RA'">
      <div id="Buttons">
        <button (click)="Edit_Button()" id="RAEditar"> Editar un Afiliado </button>
      </div>
      <a class="nav-link text-dark">Informacion del Comercio Afiliado</a>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="form-group two-fields">
              <div class="input-group">
                <input class="form-control"  id="RANombreCompleto" placeholder="Nombre Completo" required type="text" value="">
                <input class="form-control"  id="RACedulaJ" placeholder="Cédula Jurídica" />
              </div>
              <div class="input-group">
                <input class="form-control"  id="RAProvincia" placeholder="Provincia">
                <input class="form-control" id="RACanton" placeholder="Cantón" />
                <input class="form-control"  id="RADistrito" placeholder="Distrito" />
              </div>
              <div class="input-group">
                <input class="form-control" id="RASinpe" placeholder="Número de SINPE" />
                <input class="form-control"  id="RACorreo" placeholder="Correo" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="Buttons" >
        <button (click)="Save_A_Button()" class="form-floating" id="RAsave">Guardar Afiliado</button>
      </div>

      <a class="nav-link text-dark">Telefono del Comercio Afiliado</a>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="form-group two-fields">
              <div class="input-group">
                <div style="display: flex; width: 100%; position: relative">
                  <input  class="form-control"  id="RATelefono" placeholder="Telefono Nuevo"  style="width: 74%" >
                  <button (click)="Save_TA_Button()" class="form-floating" id="TRAsave" style="width: 24%"> Agregar Telefono</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template [ngIf]="SolR== 'EA'">
      <div id="EButtons">
        <button (click)="Add_Button()" id="EAAgregar">Registrar un Afiliado</button>
      </div>

      <a class="nav-link text-dark">Ingrese la Cedula Juridica del Afiliado</a>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="form-group two-fields">
              <div class="input-group">
                <div style="display: flex; width: 100%; position: relative">
                  <input  class="form-control" id="EACedulaJ" placeholder="Cedula a Consultar" style="width: 74%" >
                  <button (click)="get_dataEditar()" class="form-floating" id="TREAsave" style="width: 24%"> Buscar datos</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a class="nav-link text-dark">Informacion del Comercio Afiliado</a>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="form-group two-fields">
              <div class="input-group">
                <input class="form-control"  id="EANombreCompleto" placeholder="Nombre Completo" required type="text" value="">
                <input class="form-control"  id="EACorreo" placeholder="Correo" />
              </div>
              <div class="input-group">
                <input class="form-control"  id="EAProvincia" placeholder="Provincia">
                <input class="form-control" id="EACanton" placeholder="Cantón" />
                <input class="form-control"  id="EADistrito" placeholder="Distrito" />
              </div>
              <div class="input-group">
                <input class="form-control" id="EASinpe" placeholder="Número de SINPE" />
                <input class="form-control"  id="EAEstado" placeholder="Estado" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="Buttons">
        <button (click)="Edit_A_Button()" class="form-floating" id="EAsave">Actualizar Datos del Afiliado</button>
      </div>

      <a class="nav-link text-dark">Telefonos  Comercio Afiliado</a>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="form-group two-fields">
              <div class="input-group">
                <div *ngFor="let telefono of this.TelefonosA" style="display: flex; width: 100%; position: relative">
                  <input  class="form-control"  id="EATelefono" placeholder="Telefono" value="{{telefono.Telefono}}" [innerText]="telefono.Telefono " style="width: 74%" readonly = "readonly">
                  <button (click)="Delete_TA_Button(telefono.CedulaJuridica, telefono.Telefono)" class="form-floating" id="TEDGsave" style="width: 24%">Eliminar Telefono</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <a class="nav-link text-dark">Ingrese el Telefono que desea agregar</a>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="form-group two-fields">
              <div class="input-group">
                <div style="display: flex; width: 100%; position: relative">
                  <input  class="form-control"  id="ERATelefono" placeholder="Telefono Nuevo"  style="width: 74%" >
                  <button (click)="Save_EA_Button()" class="form-floating" id="TERAsave" style="width: 24%"> Agregar Telefono</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="Buttons" >
        <button (click)="Delete_A_Button()" class="form-floating" id="EDGsave">Eliminar Administrador</button>
      </div>

      <label> NOTA: Para eliminar un Afiliado se deben eliminar todos los telefonos y administradores relacionados a este </label>
    </ng-template>




  </div>
</div>
